In [97]:
import pandas as pd
df = pd.read_csv('traffic_accident_data.csv')
sample = pd.read_csv('降水量/大阪.csv')

In [98]:
df.head()

,資料区分,都道府県コード,警察署等コード,本票番号,事故内容,死者数,負傷者数,路線コード,上下線,地点コード,...,damage_to_vehicle_type_b,airbag_equipment_type_a,airbag_equipment_type_b,side_airbag_equipment_type_a,side_airbag_equipment_type_b,personal_injury_type_a,personal_injury_type_b,weekday_type,holiday_type,death_flag
0,1,10,59,1,2,0,1,40010,1,0,...,小破,その他,装備あり作動,その他,その他,負傷,損傷なし,月,その他,0
1,1,10,59,2,2,0,1,40010,1,0,...,中破,その他,その他,その他,その他,損傷なし,負傷,木,その他,0
2,1,10,59,3,2,0,2,40130,1,0,...,中破,装備あり作動,その他,その他,その他,負傷,負傷,日,その他,0
3,1,10,59,4,2,0,1,40130,1,0,...,中破,装備あり作動,その他,装備あり作動,その他,損傷なし,負傷,金,その他,0
4,1,10,101,1,2,0,1,39990,0,0,...,小破,その他,その他,その他,その他,損傷なし,負傷,日,その他,0

In [99]:
df[['genuine_pref_name', '発生日時\u3000\u3000年','発生日時\u3000\u3000月','発生日時\u3000\u3000日','発生日時\u3000\u3000時','発生日時\u3000\u3000分',]]

       genuine_pref_name  発生日時　　年  発生日時　　月  発生日時　　日  発生日時　　時  発生日時　　分
0                    北海道     2020        1        6        7       20
1                    北海道     2020        1       16        6       39
2                    北海道     2020        1        5        6       15
3                    北海道     2020        1       24       15       20
4                    北海道     2019       12       22       18       51
...                  ...      ...      ...      ...      ...      ...
690410               沖縄      2019       11       26       21       10
690411               沖縄      2019       12       24        9       25
690412               沖縄      2019       12       26       21       28
690413               沖縄      2019       11       27       19       55
690414               沖縄      2019       12        5       17       37

[690415 rows x 6 columns]

In [100]:
def tasuzero(month, day):
    if month==1:
        month='01'
    elif month ==2:
        month='02'
    elif month==3:
        month='03'
    elif month==4:
        month='04'
    elif month==5:
        month='05'
    elif month==6:
        month='06'
    elif month==7:
        month='07'
    elif month==8:
        month='08'
    elif month==9:
        month='09'
    else:
        month = month
    if day==1:
        day='01'
    elif day ==2:
        day='02'
    elif day==3:
        day='03'
    elif day==4:
        day='04'
    elif day==5:
        day='05'
    elif day==6:
        day='06'
    elif day==7:
        day='07'
    elif day==8:
        day='08'
    elif day==9:
        day='09'
    else:
        day = day
    return month, day

In [101]:
year = list(df['発生日時\u3000\u3000年'])
month = list(df['発生日時\u3000\u3000月'])
day = list(df['発生日時\u3000\u3000日'])
hour = list(df['発生日時\u3000\u3000時'])

datelist = []
for year, month, day, hour in zip(year, month, day, hour):
    month, day = tasuzero(month, day)
    date = str(year)+'-'+str(month)+'-'+str(day)+'-'+str(hour)
    datelist.append(date)

In [102]:
df['date'] = datelist

In [103]:
sample.head()

,年月日,時間,気圧（現地）,気圧（海面）,降水量,気温,露点湿度,蒸気圧,湿度,風速,風向,日照時間,全天日射量,降雪,積雪
0,2019-01-01,1,1020.8,1031.3,0.0,4.0,-0.8,5.8,71.0,0.4,0,0.0,0.0,0,0
1,2019-01-01,2,1020.5,1031.0,0.0,2.7,-0.7,5.8,78.0,1.0,0,0.0,0.0,0,0
2,2019-01-01,3,1020.2,1030.7,0.0,1.7,-1.4,5.5,80.0,0.7,0,0.0,0.0,0,0
3,2019-01-01,4,1019.4,1029.9,0.0,1.5,-1.1,5.7,83.0,0.8,0,0.0,0.0,0,0
4,2019-01-01,5,1018.8,1029.3,0.0,1.7,-1.2,5.6,81.0,1.8,0,0.0,0.0,0,0

In [104]:
sample['date'] = sample['年月日'] + '-' + sample['時間'].astype(str)

In [105]:
sample['date']

0         2019-01-01-1
1         2019-01-01-2
2         2019-01-01-3
3         2019-01-01-4
4         2019-01-01-5
             ...
17539    2020-12-31-20
17540    2020-12-31-21
17541    2020-12-31-22
17542    2020-12-31-23
17543    2020-12-31-24
Name: date, Length: 17544, dtype: object

In [106]:
sample.columns

Index(['年月日', '時間', '気圧（現地）', '気圧（海面）', '降水量', '気温', '露点湿度', '蒸気圧', '湿度', '風速',
       '風向', '日照時間', '全天日射量', '降雪', '積雪', 'date'],
      dtype='object')

In [107]:
sample = sample.reindex(columns=['date', '気圧（現地）', '気圧（海面）', '降水量', '気温', '露点湿度', '蒸気圧', '湿度', '風速',
       '風向', '日照時間', '全天日射量', '降雪', '積雪'])

In [108]:
display(sample['date'].head(3))
display(df['date'].head(3))

0    2019-01-01-1
1    2019-01-01-2
2    2019-01-01-3
Name: date, dtype: object

0    2020-01-06-7
1    2020-01-16-6
2    2020-01-05-6
Name: date, dtype: object

In [109]:
oosaka = df[df['genuine_pref_name']=='大阪 ']

In [110]:
oosaka = pd.merge(oosaka, sample,  how="inner", on = "date")

各県ごとにgenuine_pref_nameでデータを分割して各県の降水量データを結合して最後に全てをまとめる。

In [ ]:
import pandas as pd

#メインデータ読み込み
df = pd.read_csv('traffic_accident_data.csv')

#メインデータに結合キー用の新しいカラムを作成する準備
year = list(df['発生日時\u3000\u3000年'])
month = list(df['発生日時\u3000\u3000月'])
day = list(df['発生日時\u3000\u3000日'])
hour = list(df['発生日時\u3000\u3000時'])

#新しいカラム用のリスト
datelist = []
for year, month, day, hour in zip(year, month, day, hour):
    month, day = tasuzero(month, day)
    date = str(year)+'-'+str(month)+'-'+str(day)+'-'+str(hour)
    datelist.append(date)
    
#新しいカラムを作成
df['date'] = datelist    
    
#県ごとのデータ読み込み
filenames = []
prefectures = []
for i in list(df['pref_name'].unique()):
    filenames.append(i[:-1]+'.csv')
    prefectures.append(i)

new_df = pd.DataFrame()
for filename, prefecture in zip(filenames, prefectures):
    precipitation = pd.read_csv('降水量/'+filename)
    
    #県ごとの降水量データから結合キー用のカラムを作成
    precipitation['date'] = precipitation['年月日'] + '-' + precipitation['時間'].astype(str)
    precipitation = precipitation.reindex(columns=['date', '気圧（現地）', '気圧（海面）', '降水量', '気温', '露点湿度', '蒸気圧', '湿度', '風速','風向', '日照時間', '全天日射量', '降雪', '積雪'])

    #降水量のデータを結合した県ごとのデータを作成
    prefecture_df = df[df['pref_name']==prefecture]
    new = pd.merge(prefecture_df, precipitation,  how="inner", on = "date")
    new_df = new_df.append(new).reset_index(drop=True)
    
    #print(prefecture)

In [208]:
import pandas as pd

#メインデータ読み込み
df = pd.read_csv('traffic_accident_data.csv')

#メインデータに結合キー用の新しいカラムを作成する準備
year = list(df['発生日時\u3000\u3000年'])
month = list(df['発生日時\u3000\u3000月'])
day = list(df['発生日時\u3000\u3000日'])
hour = list(df['発生日時\u3000\u3000時'])

#新しいカラム用のリスト
datelist = []
for year, month, day, hour in zip(year, month, day, hour):
    month, day = tasuzero(month, day)
    date = str(year)+'-'+str(month)+'-'+str(day)+'-'+str(hour)
    datelist.append(date)
    
#新しいカラムを作成
df['date'] = datelist    
    
#県ごとのデータ読み込み
filenames = []
prefectures = []
for i in list(df['pref_name'].unique()):
    filenames.append(i[:-1]+'.csv')
    prefectures.append(i)

In [225]:
new_df = pd.DataFrame()
for filename, prefecture in zip(filenames, prefectures):
    precipitation = pd.read_csv('降水量/'+filename)
    
    #県ごとの降水量データから結合キー用のカラムを作成
    precipitation['date'] = precipitation['年月日'] + '-' + precipitation['時間'].astype(str)
    precipitation = precipitation.reindex(columns=['date', '気圧（現地）', '気圧（海面）', '降水量', '気温', '露点湿度', '蒸気圧', '湿度', '風速','風向', '日照時間', '全天日射量', '降雪', '積雪'])

    #降水量のデータを結合した県ごとのデータを作成
    prefecture_df = df[df['pref_name']==prefecture]
    new = pd.merge(prefecture_df, precipitation,  how="inner", on = "date")
    new_df = new_df.append(new).reset_index(drop=True)
    
    print(prefecture)

北海道(札幌方面)
北海道(函館方面)
北海道(旭川方面)
北海道(釧路方面)
北海道(北見方面)
青森
岩手
宮城
秋田
山形
福島
東京
茨城
栃木
群馬
埼玉
千葉
神奈川
新潟
山梨
長野
静岡
富山
石川
福井
岐阜
愛知
三重
滋賀
京都
大阪
兵庫
奈良
和歌山
鳥取
島根
岡山
広島
山口
徳島
香川
愛媛
高知
福岡
佐賀
長崎
熊本
大分
宮崎
鹿児島
沖縄

In [221]:
import os 
filepath = os.listdir('降水量/')

In [222]:
len(filepath)

52

#d = pd.read_csv('降水量/s/徳島.csv', encoding='shift-jis')
#d.to_csv('降水量/徳島.csv', encoding='utf-8')
#d = pd.read_csv('降水量/s/徳島.csv', encoding='utf-8')
#d.to_csv('降水量/徳島.csv', encoding='utf-8')

In [226]:
new_df

,資料区分,都道府県コード,警察署等コード,本票番号,事故内容,死者数,負傷者数,路線コード,上下線,地点コード,...,気温,露点湿度,蒸気圧,湿度,風速,風向,日照時間,全天日射量,降雪,積雪
0,1,10,59,1,2,0,1,40010,1,0,...,-1.8,-8.3,3.3,61.0,7.2,0,0.0,0.00,0.0,7.0
1,1,10,103,2,2,0,1,39990,0,0,...,-1.8,-8.3,3.3,61.0,7.2,0,0.0,0.00,0.0,7.0
2,1,10,59,2,2,0,1,40010,1,0,...,-6.1,-7.9,3.4,87.0,0.9,0,0.0,0.00,0.0,20.0
3,1,10,59,3,2,0,2,40130,1,0,...,-7.4,-12.3,2.4,68.0,2.2,0,0.0,0.00,0.0,4.0
4,1,10,59,4,2,0,1,40130,1,0,...,-4.6,-11.0,2.7,61.0,7.3,0,0.0,0.50,0.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657805,1,97,114,215,2,0,1,25110,0,0,...,21.8,13.7,15.7,60.0,6.3,0,0.4,0.95,0.0,0.0
657806,1,97,114,217,2,0,1,27210,0,0,...,20.9,13.1,15.1,61.0,9.6,0,0.6,1.62,0.0,0.0
657807,1,97,114,218,2,0,4,33410,0,0,...,22.3,15.7,17.8,66.0,4.2,0,0.0,0.00,0.0,0.0
657808,1,97,114,219,2,0,1,99000,0,0,...,21.7,16.9,19.2,74.0,5.6,0,0.0,0.00,0.0,0.0
657809,1,97,114,221,2,0,1,27210,0,0,...,20.6,16.8,19.2,79.0,8.2,0,0.0,0.00,0.0,0.0

In [228]:
list(new_df.columns)

['資料区分',
 '都道府県コード',
 '警察署等コード',
 '本票番号',
 '事故内容',
 '死者数',
 '負傷者数',
 '路線コード',
 '上下線',
 '地点コード',
 '市区町村コード',
 '発生日時\u3000\u3000年',
 '発生日時\u3000\u3000月',
 '発生日時\u3000\u3000日',
 '発生日時\u3000\u3000時',
 '発生日時\u3000\u3000分',
 '昼夜',
 '天候',
 '地形',
 '路面状態',
 '道路形状',
 '環状交差点の直径',
 '信号機',
 '一時停止規制\u3000標識（当事者A）',
 '一時停止規制\u3000表示（当事者A）',
 '一時停止規制\u3000標識（当事者B）',
 '一時停止規制\u3000表示（当事者B）',
 '車道幅員',
 '道路線形',
 '衝突地点',
 'ゾーン規制',
 '中央分離帯施設等',
 '歩車道区分',
 '事故類型',
 '年齢（当事者A）',
 '年齢（当事者B）',
 '当事者種別（当事者A）',
 '当事者種別（当事者B）',
 '用途別（当事者A）',
 '用途別（当事者B）',
 '車両形状（当事者A）',
 '車両形状（当事者B）',
 '速度規制（指定のみ）（当事者A）',
 '速度規制（指定のみ）（当事者B）',
 '車両の衝突部位（当事者A）',
 '車両の衝突部位（当事者B）',
 '車両の損壊程度（当事者A）',
 '車両の損壊程度（当事者B）',
 'エアバッグの装備（当事者A）',
 'エアバッグの装備（当事者B）',
 'サイドエアバッグの装備（当事者A）',
 'サイドエアバッグの装備（当事者B）',
 '人身損傷程度（当事者A）',
 '人身損傷程度（当事者B）',
 '地点\u3000緯度（北緯）',
 '地点\u3000経度（東経）',
 '曜日(発生年月日)',
 '祝日(発生年月日)',
 'accident_date',
 'pref_name',
 'genuine_pref_cd',
 'genuine_pref_name',
 'tiiki-code',
 'ken-name',
 'sityouson-name1',
 'sityouson-name2',
 'sityouson-name3',
 'accident_type',
 'road_cd_f4',
 'road_cd_l1',
 'road_type',
 'road_bypass',
 'road_updown_type',
 'day_night_type',
 'weather_type',
 'terrain_type',
 'road_condition_type',
 'road_shape_type',
 'roundabout_diameter_type',
 'traffic_lights_type',
 'pause_sign_type_a',
 'pause_sign_type_b',
 'pause_display_type_a',
 'pause_display_type_b',
 'road_width_type',
 'road_alignment_type',
 'zone_regulation_type',
 'pedestrian_road_division_type',
 'accident_vehicle_type',
 'age_type_a',
 'age_type_b',
 'parties_type_a',
 'parties_type_b',
 'use_type_a',
 'use_type_b',
 'vehicle_shape_type_a',
 'vehicle_shape_type_b',
 'speed_regulation_type_a',
 'speed_regulation_type_b',
 'collision_site_type_a',
 'collision_site_type_b',
 'damage_to_vehicle_type_a',
 'damage_to_vehicle_type_b',
 'airbag_equipment_type_a',
 'airbag_equipment_type_b',
 'side_airbag_equipment_type_a',
 'side_airbag_equipment_type_b',
 'personal_injury_type_a',
 'personal_injury_type_b',
 'weekday_type',
 'holiday_type',
 'death_flag',
 'date',
 '気圧（現地）',
 '気圧（海面）',
 '降水量',
 '気温',
 '露点湿度',
 '蒸気圧',
 '湿度',
 '風速',
 '風向',
 '日照時間',
 '全天日射量',
 '降雪',
 '積雪']

In [235]:
df['pref_name'].value_counts()

大阪            56457
東京            56109
愛知            55715
福岡            48431
静岡            45769
神奈川           43924
兵庫            40248
埼玉            38474
千葉            29349
群馬            21097
茨城            13496
北海道(札幌方面)     12811
宮崎            11747
長野            11083
広島            11036
宮城            10162
京都             9301
岡山             8978
鹿児島            8841
佐賀             8798
栃木             8492
香川             8259
山形             7620
熊本             7256
福島             7185
岐阜             7149
長崎             6946
沖縄             6883
三重             6613
新潟             6560
滋賀             6540
奈良             6118
山口             5850
大分             5474
青森             5227
愛媛             5215
山梨             5149
徳島             4680
石川             4433
富山             4345
岩手             3626
和歌山            3444
秋田             2891
高知             2819
福井             2036
島根             1664
北海道(旭川方面)      1641
北海道(釧路方面)      1442
鳥取             1433
北海道(函館方面)      1172
北海道(北見方面)       427
Name: pref_name, dtype: int64

In [236]:
new_df['pref_name'].value_counts()

大阪            55005
愛知            54724
東京            54618
福岡            46639
静岡            45366
神奈川           43273
兵庫            39763
埼玉            37493
千葉            28883
群馬            20889
北海道(札幌方面)     12374
宮崎            11588
長野            10916
広島            10504
宮城             9936
京都             8728
岡山             8702
佐賀             8658
鹿児島            8640
栃木             8291
香川             8086
山形             7480
福島             7037
熊本             6897
岐阜             6873
長崎             6831
沖縄             6652
滋賀             6424
三重             6369
新潟             6345
奈良             5948
山口             5674
大分             5394
青森             5147
山梨             5063
愛媛             5030
徳島             4597
石川             4338
富山             4287
和歌山            3321
秋田             2841
高知             2728
福井             1951
島根             1616
北海道(旭川方面)      1585
北海道(釧路方面)      1392
鳥取             1372
北海道(函館方面)      1125
北海道(北見方面)       417
Name: pref_name, dtype: int64

In [245]:
 precipitation_data = new_df[['accident_date',
 '気圧（現地）',
 '気圧（海面）',
 '降水量',
 '気温',
 '露点湿度',
 '蒸気圧',
 '湿度',
 '風速',
 '風向',
 '日照時間',
 '全天日射量',
 '降雪',
 '積雪']]

In [246]:
k = pd.read_csv('講習追加済みデータ.csv')

In [248]:
k.shape

(690415, 64)

In [256]:
precipitation_data.shape

(657810, 14)

In [279]:
nnd = pd.concat([k, precipitation_data], join='inner', axis=1)

In [280]:
nnd = nnd.drop('Unnamed: 0', axis=1)
nnd.shape

(657810, 77)

In [285]:
nnd['pref_name'].value_counts()

大阪            53945
東京            53487
愛知            53322
福岡            46438
静岡            43849
神奈川           41718
兵庫            38511
埼玉            36526
千葉            28013
群馬            20108
茨城            12939
北海道(札幌方面)     12234
宮崎            10748
長野            10565
広島            10532
宮城             9705
京都             8885
岡山             8540
佐賀             8434
鹿児島            8103
栃木             8096
香川             7931
山形             7236
熊本             6949
福島             6882
岐阜             6825
長崎             6621
三重             6358
沖縄             6256
滋賀             6254
新潟             6239
奈良             5834
山口             5611
愛媛             4983
青森             4956
大分             4936
山梨             4910
徳島             4445
石川             4215
富山             4107
岩手             3479
和歌山            3285
秋田             2733
高知             2703
福井             1961
島根             1586
北海道(旭川方面)      1573
鳥取             1369
北海道(釧路方面)      1365
北海道(函館方面)      1112
北海道(北見方面)       398
Name: pref_name, dtype: int64

In [282]:
latilong = pd.read_csv('traffic_accident_data.csv')

In [283]:
latilong = latilong[["地点\u3000緯度（北緯）","地点\u3000経度（東経）"]]
nnd = pd.concat([nnd, latilong], join='inner', axis=1)

In [286]:
nnd.to_csv('データ.csv')